#backend
backend/.env
backend/public/admin_image/*
!backend/public/admin_image/.gitkeep
backend/public/file/*
!backend/public/file.gitkeep
backend/public/persons_image/*
!backend/public/persons_image/.gitkeep
backend/public/activity_image/*
!backend/public/activity_image/.gitkeep
backend/public/news_cover_image/*
!backend/public/news_cover_image/.gitkeep
backend/public/banner_image/*
!backend/public/banner_image/.gitkeep
backend/public/anno_image/*
!backend/public/anno_image/.gitkeep
backend/public/teaching_schedule_image/*
!backend/public/teaching_schedule_image/.gitkeep
backend/public/student_schedule_image/*
!backend/public/student_schedule_image/.gitkeep
backend/public/syllabus_image/*
!backend/public/syllabus_image/.gitkeep


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Backend/.env
 
